<div class="ui column">
    <h2>Flickr - A Picture is Worth a Single Word</h2>

    <div class="ui message">
        <h3 class="ui header">Project Description</h3>
        <p>Using geolocation and tag (keyword) data for photos taken and uploaded to Flickr during 2013 we aim to map the most commonly tagged words in the US in an interactive data map that features both time-series (month by month) and granularity (zoom) functionality.</p>
    </div>

    <div class="ui message">
        <h3>Resource Links</h3>

        <div class="ui divided list">
            <div class="item">
                <div class="content">
                    <a href="http://www.flickr.com" class="header">Flickr</a>
                    <div class="description">Photo Share Website</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a href="" class="header">Highcharts</a>
                    <div class="description">Javascript library to visualize data</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a href="http://angularjs.org/" class="header">AngularJS</a>
                    <div class="description">HEROic frontend framework</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a href="http://semantic-ui.com/" class="header">Sementic UI</a>
                    <div class="description">Pretty CSS framework</div>
                </div>
            </div>
        </div>
    </div>
</div>