<h1>AngularJS + Cloud Endpoint</h1>
<p>
  Sample application for using AngularJS backed with a Cloud Endpoint on the
  Google App Engine. This is a single-page application that loads resources and
  data as needed based on URL routing.
</p>

<h2>Client</h2>
<p>
  This part of the application runs in your browser.
</p>
<ul>
  <li>
    <a href="http://angularjs.org/">AngularJS</a> 1.2.7, HTML enhanced for
    web apps.
    <ul>
      <li>
        <a href="http://docs.angularjs.org/api/ngResource">angular-resource</a>,
        support for interacting with RESTful server-side data sources.
      </li>    
      <li>
        <a href="https://github.com/angular-ui/ui-router">ui-router</a> 0.2.7,
        state based and nested routing from the Angular UI package.
      </li>
      <li>
        <a href="http://docs.angularjs.org/guide/dev_guide.e2e-testing">
        angular-scenario</a>, E2E testing. Simulate user interaction with the
        client application.
      </li>
    </ul>
  </li>
  <li>
    <a href="http://getbootstrap.com/">Boostrap</a> 3.0.3, front end framework
    for faster and easier web development.
  </li>
  <li>
    <a href="http://momentjs.com/">Moment.js</a> 2.5.0, date and time parsing and
    formatting library.
  </li>
  <li>
    <a href="http://pivotal.github.io/jasmine/">Jasmine</a> 1.3.1, behavior
    driven test framework. Uses angular-mocks to handle testing of AngularJS
    modules.
  </li>
</ul>

<h2>App Engine</h2>
<p>
  This part of the application runs and stores data on Google's scalable
  systems.
</p>
<ul>
  <li>
    <a href="https://developers.google.com/appengine/">Python SDK</a> 1.8.8,
    application platform.
    <ul>
      <li>
        <a href="https://developers.google.com/appengine/docs/python/ndb/">
        Python NDB</a>, schemaless object datastore.
      </li>
      <li>
        <a href="https://developers.google.com/appengine/docs/python/endpoints/">
        Cloud Endpoints</a>, easily create a web service API.
      </li>
      <li>
        <a href="http://endpoints-proto-datastore.appspot.com/">Endpoints Proto
        Datastore</a>, allows an NDB model to be used directly with a Cloud
        Endpoints API.
      </li>
    </ul>
  </li>
</ul>

<h2>Test</h2>
<p>
  One of the great things about this application platform is that it includes
  excellent testing tools.
</p>
<ul>
  <li>
    <a href="/test/unit/index.html">Unit Test</a>, tests for the individual
    Angular application components.
  </li>
  <li>
    <a href="/test/e2e/index.html">E2E Test</a>, uses the Angular Scenario
    Runner to simulate user interaction with the application.
  </li>
  <li>
    <a href="/_ah/api/explorer">API Explorer</a>, browse the methods available
    on our Cloud Endpoint. Send commands and view results.
  </li>
</ul>

<h2>Source Code</h2>
<p>
  <a href="https://github.com/luketokheim/angular-appengine-seed">Browse or
  download</a> the full source code on GitHub. The client portion of the
  application is not minified or compressed for in browser debugging.
</p>