<!--
  Responsive layout. Two columns that stack on mobile and narrow windows.
-->
<div class="row">
  <div class="col-sm-4">
    <!-- List of most recent items. -->
    <div class="list-group">
      <a ui-sref="model.create"
         ng-class="{active: $state.is('model.create')}"
         class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> Add Item
      </a>
      <a ng-repeat="model in list"
         ng-class="{active: $stateParams.id === model.id}"
         ui-sref="model.detail({id: model.id})"
         class="list-group-item">
        <h4 class="list-group-item-heading">
          {{model.name}}
        </h4>
        <p class="list-group-item-text">
          {{model.created | moment_fromNow}}
        </p>
      </a>
    </div>
    <p ng-if="$config.debug">
      <a seed-href="?limit={{$config.list_limit}}">List</a> the most recent
      items.
      <br>
      <code>GET <span seed-api="?limit={{$config.list_limit}}"></span></code>
    </p>
  </div>
  <div class="col-sm-8" ui-view></div>
</div>