<div class="ui column" ng-init="init()">
    <div class="ui black message">
        <div class="ui header">Flickr - A Picture is Worth a Single Word</div>
        <p>
            Using geolocation and tag (keyword) data for photos taken and
            uploaded to Flickr during 2013 we aim to map the most commonly
            tagged words in the US in an interactive data map that features
            both time-series (month by month) and granularity (zoom)
            functionality.
        </p>
    </div>
</div>