<div class="ui column" ng-init="init()">
    <div>Statistic for the Location of the picture for
        <div class="ui basic dropdown">
            <div class="text">{{ month }}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" ng-class="{active: m==month}" ng-repeat="m in
                months" ng-click="setMonth(m)">{{ m }}</div>
            </div>
        </div>
    </div>

    <div class="ui horizontal divider"><i class="ui location icon"></i></div>

    <div id="container"></div>
</div>